---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Portafolio - Ingeniero en Computación">
  <main>
    <Hero />
    <Skills />
    <Projects />
    <About />
    <Contact />
  </main>
</Layout>
